[submodule "themes/docdock"]
	path = themes/docdock
	url = https://github.com/vjeantet/hugo-theme-docdock.git
[submodule "themes/detox"]
	path = themes/detox
	url = https://github.com/allnightgrocery/hugo-theme-blueberry-detox
