<style>
.backstyle {
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    display: block;
    background-size: cover;
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
    opacity:0.2;
    background-image: url('images/back5.jpg');
}


</style>

<div id="particles-js">
    <div class="intro">
        <div class="intro-container">
            <p><img style="width:500px" src="/images/concurrenceMain.png" alt="Concurrence"></p>
            <div style="color:#DDDDDD;font-weight:bolder;letter-spacing:-0.3;font-size:16px">Decentralized Oracle Exploration</div>
            <p style="margin-top:50px"><a class="btn btn-outline-primary" href="/abstract/">Learn More</a></p>
        </div>
    </div>
    <div id="backerbackback" class="backstyle"></div>
</div>

<section class="section-padding">

    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="foo">
                    <img src="/images/tokencode.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <h2>Concurrence</h2>
                <p></p>
            </div>
        </div>
    </div>

</section>

<script type="text/javascript">

    var totalCount = 8;
    function ChangeIt()
    {
      var num = Math.ceil( Math.random() * totalCount );
      var setTo = 'images/back'+num+'.jpg';
      console.log(setTo)
      document.getElementById("backerbackback").style.backgroundImage="url("+setTo+")"
      //document.getElementById("backerbackback").style.opcacity = "0.2"
      //document.getElementById("backerbackback").style.webkitFilter = "blur(3px)";
    }
    // setInterval(ChangeIt,2000);
    // ChangeIt();

</script>